<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>DingDangDog</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>com.ddd.app.user.controller.UserFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>*.us</url-pattern>
	</servlet-mapping>


	<!-- 멍! 로그 매핑 -->
	<servlet>
		<servlet-name>log</servlet-name>
		<servlet-class>com.ddd.app.doglog.controller.LogController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>log</servlet-name>
		<url-pattern>*.lo</url-pattern>
	</servlet-mapping>

	<!-- 멍! 케어 매핑 -->
	<servlet>
		<servlet-name>care</servlet-name>
		<servlet-class>com.ddd.app.dogcare.controller.DogcareFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>care</servlet-name>
		<url-pattern>*.ca</url-pattern>
	</servlet-mapping>

	<!-- 관리자 매핑 -->
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>com.ddd.app.admin.controller.AdminFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>
	
	<!-- 멍! 카이브 매핑 -->
	<servlet>
		<servlet-name>archive</servlet-name>
		<servlet-class>com.ddd.app.dogarchive.controller.ArchiveFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>archive</servlet-name>
		<url-pattern>*.ar</url-pattern>
	</servlet-mapping>
	
	<!-- 헤더 매핑 -->
	<servlet>
		<servlet-name>header</servlet-name>
		<servlet-class>com.ddd.app.header.controller.mainFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>*.he</url-pattern>
	</servlet-mapping>
	
	<!-- 마이페이지 매핑 -->
	<servlet>
		<servlet-name>myPage</servlet-name>
		<servlet-class>com.ddd.app.mypage.controller.MypageFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myPage</servlet-name>
		<url-pattern>*.mp</url-pattern>
	</servlet-mapping>
	
</web-app>