/* footer */
* {
  margin: 0px;
  padding: 0px;
}

.footer {
  height: 210px;
  background-color: #FFEFE6;
  color: black;

}

.container {
  margin: 0px;
  padding: 0px;
}

.left-menu {
  padding-left: 50px;
  padding-top: 80px;

}

/* footer box */
.footer {
  height: 210px;
}
/* footer box */
.footer {
  height: 310px;
  box-sizing: border-box;
  height: 310px;
  background-color: #FFEFE6;
  color: black;
  display: flex;
  align-items: center;
  padding: 0;
  font-family: "BM HANNA_TTF";

}

/* f-container */
.f-container {
  width: 100%;
  max-width: none;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

/* footer 왼쪽 : 인포메이션 텍스트 */

.f-left-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 0px;

}

.f-info {
  align-items: center;
  margin-bottom: 20px;
  line-height: 2.0;       /* 라인 높이 간격 */
  line-height: 2.0;       
}

.title {
  line-height: 2.0;
  /* 라인 높이 간격 */
}

.f-title {
  font-size: 20px;
  margin-right: 10px;
}

.f-caption {
  font-size: 18px;
  margin-right: 40px;
}



/* footer 왼쪽 : 인포메이션 이메일 */
.f-info-email {
  display: block;
  margin-top: 20px;
  padding-left: 68px;
  text-indent: -68px;
}


.f-caption-email {
  font-size: 15px;
  display: inline;
  line-height: 1.8;
  gap: 5px;

}

.f-email-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* footer 오른쪽 : 로고 이미지 */
.f-right-menu {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}