.doglog-detail-container {
  width: 100%;
  /* height: 620px; */
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #b6b6b6;
  /* overflow: scroll; */
}

.detail-title {
  height: 60px;
  padding-left: 45px;
  line-height: 60px;
  border-bottom: 2px solid #b6b6b6;
}

.detail-info-container {
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 2px solid #b6b6b6;
  align-items: center;
}

.detail-main-container {
  padding: 45px;
  min-height: 400px;
}
.detail-footer-container {
  display: flex;
  justify-content: center;
}
.apply-status {
  width: 120px;
  height: 50px;
  background-color: white;
  border: 2px solid #f47c2a;
  border-radius: 5px;
}

.detail-main-post {
  width: 100%;
  height: 360px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 20px;
}

.detail-footer-container{
  display: flex;
  justify-content: center;
  align-items: center ;
  padding-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.btn {
  width: 110px;
  height: 40px;
  background-color: #f47c2a;
  border-radius: 5px;
  color: white;
  border-style: none;
  box-shadow: 2px 2px 5px #b6b6b6;
  text-align: center;
  line-height: 40px;
}

/* 모달 배경 */
.modal{
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
}

/* 모달 박스 */
.modal-content{
  width:500px;
  background:white;
  margin:120px auto;
  border-radius:5px;
  overflow:hidden;
}

/* 헤더 */
.modal-header{
  background:#f47c2a;
  color:white;
  padding:12px 20px;
  display:flex;
  justify-content:space-between;
}

.modal-close{
  border:none;
  background:none;
  color:white;
  font-size:16px;
  cursor:pointer;
}

/* body */
.modal-body{
  padding:20px;
}

/* 헤더 */
.apply-header{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  font-weight:bold;
  border-bottom:1px solid #ddd;
  padding:10px 0;
}


/* row */
.apply-row{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding:10px 0;
  border-bottom:1px solid #eee;
}