* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
  width: 100%;
  height: 110px;
  border: 1px solid black;;
}

footer {
  width:100%;
  height: 200px;
  border: 1px solid black;
}

main {
  width:100%;
  height: 724px;
  border: 1px solid black;
  
}

section {
  width: 700px;
  height: 644px;
  /* border: 1px solid black; */
  margin: 33px auto;
 
}
.password-header-title {

    width: 250px;
    height:80px;
    border: 1px solid  black;
    margin-left: 155px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    background-color: #F47C2A;
    color: white;
    font-weight: bold;
    font-size: 25px;


}

.password-main-container{

    margin-top:25px;
    width:550px;
    height:550px;
    border:1px solid black;
    border-radius: 10px;
}

.password-title {
    text-align: center;
    margin: 50px auto;
    font-weight: bold;
    font-size: 20px;
}

.password-text {
    margin-left: 50px;
    font-weight: bold;
}

.form-container {

    display:flex;
    justify-content: center;

}

.password-main-id {

    margin: 20px 0px;
}

.password-main-id-detail {
    display: flex;
    

}

.password-main-passwordwriting {
    width:150px;
    height: 40px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    
}
#user-id {
    width:220px;
    height: 40px

}

.password-main-id-message {
    display:none;
    color:red;
    font-weight: bold;
}

.password-main-phoneNumber{
    margin-bottom: 20px;
}

.password-main-phoneNumber-input {
    display:flex;
    
    
}

.password-main-phoneNumberwriting {
    width: 150px;
    height: 40px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    line-height:40px;
}

.password-main-phoneNumber-detail {
    display: flex;
    
}

#user-phoneNumber {
    width: 220px;
    height: 40px;
    margin-right: 10px;
    
}
.btn-transfer {
    width: 90px;
    font-weight: bold;
    background-color: #F47C2A;
    color: white;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.password-main-phoneNumber-message {
    display:none;
    color:red;
    font-weight:bold;
}



.password-main-verification-input {
    display: flex;
    

}

.password-main-verification-detail {
    display: flex;

}

.password-main-verificationwriting {

    width:150px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

.btn-check {
    margin-left:10px;
    width:90px;
    height:40px;
    background-color: #F47C2A;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
#user-verification {
    width: 220px;
    height: 40px;
    
}

.btn-next {
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: #F47C2A;
    color:white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

}

.btn-container {
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    
}

.password-main-verification-message {
    color:red;
    display: none;
    font-weight:bold;
}   