# =========================
# OS Files (Mac / Windows)
# =========================
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# =========================
# Eclipse
# =========================
.metadata/
.settings/
.classpath
.project
.recommenders/
.externalToolBuilders/
Servers/

# =========================
# Build / Compiled
# =========================
*.class
*.log
*.tmp
*.bak
*.swp
bin/
build/
target/
out/

# =========================
# Tomcat Runtime
# =========================
logs/
temp/
tmp/
work/
catalina.out

# =========================
# IDE (혹시 다른 IDE 사용)
# =========================
.vscode/
.idea/
*.iml
*.iws

# =========================
# Environment / Local config
# =========================
.env
.env.*
db.properties
context.properties
jdbc.properties
src/main/resource/


# =========================
# 업로드 파일 (실행 시 생성)
# =========================
uploads/

# =========================
# JAR 처리
# =========================
# 기본적으로 jar 무시
*.jar

# 하지만 웹 프로젝트 lib 폴더는 포함
!src/main/webapp/WEB-INF/lib/*.jar

# =============================
# Backup & Temp
# =============================
*.tmp
*.bak
*.swp
*.orig
*.rej