<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 카멜케이스 매핑 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>

		<!-- 쿼리 결과 필드가 null인 경우 누락되지 않도록 설정 -->
		<setting name="callSettersOnNulls" value="true"></setting>

		<!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	<!-- DTO 별칭 설정 -->
	<typeAliases>
		<typeAlias type="com.ddd.app.user.dto.UserDTO" 
			alias="UserDTO" />
		<typeAlias type="com.ddd.app.user.dto.UserCommonDTO"
			alias="UserCommonDTO" />
		<typeAlias type="com.ddd.app.user.dto.UserShelterDTO"
			alias="UserShelterDTO" />
		<typeAlias type="com.ddd.app.doglog.dto.LogDTO" 
			alias="LogDTO" />
		<typeAlias type="com.ddd.app.doglog.dto.LogImgDTO"
			alias="LogImgDTO" />
		<typeAlias type="com.ddd.app.doglog.dto.LogCommentDTO"
			alias="LogCommentDTO" /> 
		<typeAlias type="com.ddd.app.admin.dto.AdminDTO"
			alias="AdminDTO" />
		<typeAlias type="com.ddd.app.admin.dto.AdminUserDTO"
			alias="AdminUserDTO" />
		<typeAlias type="com.ddd.app.dogarchive.dto.ArchiveDeleteDTO"
			alias="ArchiveDeleteDTO" />
		<typeAlias type="com.ddd.app.dogarchive.dto.ArchiveListDTO"
			alias="ArchiveListDTO" />
		<typeAlias type="com.ddd.app.dogarchive.dto.ArchiveReadDTO"
			alias="ArchiveReadDTO" />
		<typeAlias type="com.ddd.app.dogarchive.dto.ArchiveUpdateDTO"
			alias="ArchiveUpdateDTO" />
		<typeAlias type="com.ddd.app.dogarchive.dto.ArchiveWriteDTO"
			alias="ArchiveWriteDTO" />
		<typeAlias type="com.ddd.app.dogcare.dto.CareApplyDTO"
			alias="CareApplyDTO" />
		<typeAlias type="com.ddd.app.dogcare.dto.CareDetailDTO"
			alias="CareDetailDTO" />
		<typeAlias type="com.ddd.app.dogcare.dto.CareDTO"
			alias="CareDTO" />
		<typeAlias type="com.ddd.app.dogcare.dto.CareListDTO"
			alias="CareListDTO" />
		<typeAlias type="com.ddd.app.admin.dto.AdminArchiveDTO"
			alias="AdminArchiveDTO" />
		<typeAlias type="com.ddd.app.admin.dto.AdminCareDTO"
			alias="AdminCareDTO" />
		<typeAlias type="com.ddd.app.admin.dto.AdminLogDTO"
			alias="AdminLogDTO" />
		<!-- <typeAlias type="com.ddd.app.inquiry.dto.InquiryListDTO"
			alias="InquiryListDTO" />
		<typeAlias type="com.ddd.app.inquiry.dto.InquiryDetailDTO"
			alias="InquiryDetailDTO" />
		<typeAlias type="com.ddd.app.inquiry.dto.InquiryWritingDTO"
			alias="InquiryWritingDTO" />
		<typeAlias type="com.ddd.app.mypage.dto.MypageCcareDTO"
			alias="MypageCcareDTO" />  -->
		<typeAlias type="com.ddd.app.mypage.dto.MypageScareDTO"
			alias="MypageScareDTO" />
		<typeAlias type="com.ddd.app.mypage.dto.MyPageDogMatchingDTO"
			alias="MyPageDogMatchingDTO" />
		<typeAlias type="com.ddd.app.mypage.dto.MypageSInfoDTO"
			alias="MypageSDTO" />
		<typeAlias type="com.ddd.app.mypage.dto.MypageLogDTO"
			alias="MypageLogDTO" />
		<typeAlias type="com.ddd.app.main.dto.mainCareDTO"
			alias="mainCareDTO" />
		<typeAlias type="com.ddd.app.main.dto.mainArchiveDTO"
			alias="mainArchiveDTO" />
		<typeAlias type="com.ddd.app.report.dto.ReportDTO"
			alias="ReportDTO" />
	</typeAliases>

	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver"></property>
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521/xe"></property>
				<property name="username" value="dingdong"></property>
				<property name="password" value="dog1234"></property>
			</dataSource>
		</environment>
	</environments>

	<!-- Mapper.xml 등록 추후 필요 -->
	<mappers>
		<mapper resource="com/ddd/mapper/UserMapper.xml" />
		<mapper resource="com/ddd/mapper/LogMapper.xml" />
		<!-- <mapper resource="com/ddd/mapper/MatchingMapper.xml" /> -->
		<mapper resource="com/ddd/mapper/AdminArchiveMapper.xml" />
		<mapper resource="com/ddd/mapper/AdminLogMapper.xml" />
		<mapper resource="com/ddd/mapper/AdminCareMapper.xml" />
		<mapper resource="com/ddd/mapper/MypageSCareMapper.xml" />
		<!-- <mapper resource="com/ddd/mapper/MypageCCareMapper.xml" /> -->
		<!-- <mapper resource="com/ddd/mapper/MypageMatchingResultMapper.xml" /> -->
		<mapper resource="com/ddd/mapper/MypageCInfoMapper.xml" />
		<mapper resource="com/ddd/mapper/MypageSInfoMapper.xml" />
		<mapper resource="com/ddd/mapper/MypageLogMapper.xml" />
		<!-- <mapper resource="com/ddd/mapper/InquiryMapper.xml" /> -->
		<mapper resource="com/ddd/mapper/mainMapper.xml" />
		<mapper resource="com/ddd/mapper/ReportMapper.xml" />
		<mapper resource="com/ddd/mapper/CareMapper.xml" />
	</mappers>
	


</configuration>