.admin-main-content {
  background-color: white;
  border-radius: 5px;
}

.blacklist-list-row {
  line-height: 35px;
  display: flex;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #b6b6b6;
}

.black-user-number {
  flex: 0.5;
}
.black-user-id {
  flex: 1;
}
.black-user-name {
  flex: 1;
}
.black-user-nickname {
  flex: 1;
}
.black-reason {
  flex: 3;
}

.blacklist-list-row:first-child {
  height: 40px;
  font-weight: bold;
}

.blacklist-list-row:last-child {
  border-bottom: none;
}
