<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminArchive">

	<!-- 대시보드용 멍카이브 조회 -->
	<select id="getDashboardArchiveList" resultType="AdminArchiveDTO"> 
	<![CDATA[ 
	SELECT * FROM
	(SELECT a.dog_number, a.dog_name, a.dog_age,
			a.dog_breed, s.shelter_name, a.dog_safe_date
	FROM ddd_archive a JOIN ddd_user_shelter s 
	ON a.user_number = s.user_number
	ORDER BY a.dog_safe_date ASC)
	WHERE rownum <= 5
	]]>
	</select>

	<!-- 멍! 카이브 전체 목록 검색 조회 -->
	<select id="searchArchiveList" parameterType="map" resultType="AdminArchiveDTO">
	    SELECT a.dog_number, a.dog_name, a.dog_age, a.dog_weight,
	           a.dog_breed, s.shelter_name, a.dog_safe_date
	    FROM ddd_archive a
	    JOIN ddd_user_shelter s ON a.user_number = s.user_number
	    <where>
	        <choose>
	            <when test="searchType == 'breed'">
	                a.dog_breed LIKE '%' || #{keyword} || '%'
	            </when>
	            <when test="searchType == 'shelter'">
	                s.shelter_name LIKE '%' || #{keyword} || '%'
	            </when>
	            <otherwise>
	                (
	                    a.dog_breed LIKE '%' || #{keyword} || '%'
	                    OR s.shelter_name LIKE '%' || #{keyword} || '%'
	                )
	            </otherwise>
	        </choose>
	    </where>
	    ORDER BY a.dog_archive_date DESC
	</select>
	
	<!-- 멍! 카이브 전체 목록  조회 -->
	<select id="searchAllArchiveList" resultType="AdminArchiveDTO">
		SELECT a.dog_number, a.dog_name, a.dog_age, a.dog_weight,
		a.dog_breed, s.shelter_name, a.dog_safe_date
		FROM ddd_archive a
		JOIN
		ddd_user_shelter s ON a.user_number = s.user_number
		ORDER BY a.dog_archive_date DESC
	</select>	
	
	

	<!-- 멍! 카이브 상세정보 -->
<select id="selectArchiveDetail" parameterType="int" resultType="AdminArchiveDTO">
	SELECT a.dog_number,
		   a.dog_name,
		   a.dog_age,
		   a.dog_weight,
		   a.dog_breed,
		   s.shelter_name,
		   a.dog_safe_date,
		   a.dog_detail,
		   ai.archive_img_path
	FROM ddd_archive a
	JOIN ddd_user_shelter s
	  ON a.user_number = s.user_number
	LEFT JOIN (
		SELECT i.dog_number, i.archive_img_path
		FROM ddd_archive_img i
		JOIN (
			SELECT dog_number, MIN(archive_img_number) AS min_img_number
			FROM ddd_archive_img
			GROUP BY dog_number
		) m
		  ON i.dog_number = m.dog_number
		 AND i.archive_img_number = m.min_img_number
	) ai
	  ON a.dog_number = ai.dog_number
	WHERE a.dog_number = #{dog_number}
</select>

	<!-- 유기견 정보 삭제 -->
	<delete id="deleteArchive" parameterType="int">
		DELETE FROM ddd_archive
		WHERE dog_number =
		#{dog_number}
	</delete>
</mapper>