<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">


	<!-- 관리자 회원관리 -->
	<!-- 전체 일반회원 -->
	<select id="getTotalCommon" resultType="int">
		SELECT COUNT(user_number)
		FROM ddd_user WHERE user_type = 'C'
	</select>

	<!-- 일반회원 전체조회 -->
	<select id="selectCommonList" parameterType="map"
		resultType="AdminUserDTO">
<![CDATA[
    SELECT * FROM (
        SELECT ROWNUM AS rnum, subquery.* FROM (
            SELECT 
                user_number, user_id, user_name, user_nickname, user_phone, user_email
            FROM ddd_user
            WHERE user_type = 'C'
            ORDER BY user_number DESC
        ) subquery
    ) 
    WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
	</select>

	<!-- 일반회원 전체조회 + 검색 (아이디 닉네임) -->

	<!-- 일반회원 상세 -->
	<select id="selectCommonDetail" parameterType="int"
		resultType="AdminUserDTO">
		SELECT
		u.user_id, u.user_nickname, u.user_name,
		u.user_phone,u.user_birth,u.user_email, c.common_report_count
		FROM
		ddd_user u
		JOIN
		ddd_user_common c ON
		u.user_number = c.user_number
		WHERE
		u.user_number
		= #{userNumber}
	</select>

	<!-- 전체 보호소회원 -->
	<select id="getTotalShelter" resultType="int">
		SELECT
		COUNT(user_number) FROM ddd_user WHERE user_type = 'S'
	</select>

	<!-- 보호소회원 전체조회 -->
	<select id="selectShelterList" parameterType="map"
		resultType="AdminUserDTO">
<![CDATA[
    SELECT * FROM (
        SELECT ROWNUM AS rnum, subquery.* FROM (
            SELECT 
                u.user_number, u.user_id, s.shelter_name, u.user_phone, 
                u.user_email, s.shelter_certification
            FROM ddd_user u
            JOIN ddd_user_shelter s ON u.user_number = s.user_number
            WHERE u.user_type = 'S'
            ORDER BY s.shelter_certification ASC, u.user_number DESC
        ) subquery
    ) 
    WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
	</select>

	<!-- 보호소회원 전체조회 + 검색 (아이디 닉네임) -->

	<!-- 보호소회원 상세 -->
	<select id="selectShelterDetail" parameterType="int"
		resultType="AdminUserDTO">
		<!-- 파일 추가 필요 -->
		<!-- SELECT u.user_id, s.shelter_name, u.user_nickname, s.shelter_address, 
			s.shelter_business_number, s.shelter_certification, f.file_name FROM ddd_user 
			u JOIN ddd_user_shelter s ON u.user_number = s.user_number LEFT JOIN ddd_file 
			f ON u.user_number = f.user_number WHERE u.user_number = #{userNumber} -->
		SELECT
		u.user_id, s.shelter_name, u.user_nickname,
		s.shelter_address,
		s.shelter_business_number, s.shelter_certification
		FROM ddd_user u
		JOIN
		ddd_user_shelter s ON u.user_number = s.user_number
		WHERE
		u.user_number
		= #{userNumber}
	</select>

	<!-- 보호소회원 인증 업데이트 -->
	<update id="updateShelterCertification">
		UPDATE ddd_user_shelter
		SET shelter_certification =
		'Y'
		WHERE user_number = #{userNumber}
	</update>


</mapper>
