<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="archive">

	<select id="selectList" parameterType="ArchiveListDTO"
		resultType="ArchiveListDTO">
			SELECT
			A.DOG_NUMBER,
			A.DOG_NAME,
			A.DOG_BREED,
			US.SHELTER_NAME,
			A.DOG_SAFE_DATE,
			AI.ARCHIVE_IMG_PATH
			FROM DDD_ARCHIVE A
			JOIN DDD_USER_SHELTER US ON A.USER_NUMBER = US.USER_NUMBER
			LEFT JOIN (
			SELECT DOG_NUMBER,
			MIN(ARCHIVE_IMG_NUMBER) AS MIN_IMG_NUMBER
			FROM DDD_ARCHIVE_IMG
			GROUP BY DOG_NUMBER
			) FIRST_IMG ON A.DOG_NUMBER = FIRST_IMG.DOG_NUMBER
			LEFT JOIN DDD_ARCHIVE_IMG AI ON FIRST_IMG.MIN_IMG_NUMBER =
			AI.ARCHIVE_IMG_NUMBER
			ORDER BY A.DOG_NUMBER DESC
		</select>

	<select id="getTotalCount" parameterType="ArchiveListDTO"
		resultType="int">
		SELECT COUNT(*) FROM DDD_ARCHIVE
	</select>

	<select id="selectDetail" parameterType="int"
		resultType="ArchiveReadDTO">
		SELECT
		A.DOG_NUMBER, A.USER_NUMBER, A.DOG_NAME, A.DOG_BREED,
		CASE
		WHEN A.DOG_GENDER = 'M' THEN '수컷'
		WHEN A.DOG_GENDER = 'F' THEN '암컷'
		END AS DOG_GENDER,
		A.DOG_AGE, A.DOG_WEIGHT,
		A.DOG_SAFE_DATE,
		A.DOG_NAME,
		S.DOG_ACTIVITY, S.DOG_SOCIALITY, S.DOG_INDEPENDENCE, S.DOG_BARKING,
		S.DOG_GROOMING,
		AI.ARCHIVE_IMG_PATH
		FROM DDD_ARCHIVE A
		LEFT JOIN
		DDD_ARCHIVE_SCORE S ON A.DOG_NUMBER = S.DOG_NUMBER
		LEFT JOIN (
		SELECT
		DOG_NUMBER, ARCHIVE_IMG_PATH
		FROM (
		SELECT DOG_NUMBER, ARCHIVE_IMG_PATH,
		ROW_NUMBER() OVER (PARTITION BY DOG_NUMBER ORDER BY ARCHIVE_IMG_NUMBER
		ASC) as RN
		FROM DDD_ARCHIVE_IMG
		) WHERE RN = 1
		) AI ON A.DOG_NUMBER =
		AI.DOG_NUMBER
		WHERE A.DOG_NUMBER = #{dogNumber}
	</select>

	<insert id="insertArchive" parameterType="ArchiveWriteDTO">
		INSERT INTO DDD_ARCHIVE
		(
		DOG_NUMBER, USER_NUMBER, DOG_NAME, DOG_BREED, DOG_GENDER,
		DOG_AGE,
		DOG_WEIGHT, DOG_SAFE_DATE, DOG_ARCHIVE_DATE, DOG_DETAIL
		) VALUES (
		SEQ_DDD_ARCHIVE.NEXTVAL, #{userNumber}, #{dogName}, #{dogBreed},
		#{dogGender},
		#{dogAge}, #{dogWeight}, TO_DATE(#{dogSafeDate},
		'YYYY-MM-DD'), SYSDATE,
		#{dogDetail}
		)
	</insert>

	<insert id="insertScore" parameterType="ArchiveWriteDTO">
		INSERT INTO
		DDD_ARCHIVE_SCORE (
		DOG_NUMBER, DOG_ACTIVITY, DOG_SOCIALITY,
		DOG_INDEPENDENCE, DOG_BARKING,
		DOG_GROOMING
		) VALUES ( #{dogNumber},
		#{dogActivity}, #{dogSociality},
		#{dogIndependence}, #{dogBarking},
		#{dogGrooming} )
	</insert>

	<insert id="insertImg" parameterType="ArchiveWriteDTO">
		INSERT INTO DDD_ARCHIVE_IMG
		(
		ARCHIVE_IMG_NUMBER, DOG_NUMBER, ARCHIVE_IMG_NAME, ARCHIVE_IMG_PATH
		)
		VALUES (
		SEQ_DDD_ARCHIVE_IMG.NEXTVAL, #{dogNumber}, #{archiveImgName},
		#{archiveImgPath} )
	</insert>

	<update id="updateArchive" parameterType="ArchiveUpdateDTO">
		UPDATE DDD_ARCHIVE
		SET
		DOG_NAME = #{dogName}, DOG_BREED = #{dogBreed}, DOG_GENDER =
		#{dogGender},
		DOG_AGE = #{dogAge}, DOG_WEIGHT = #{dogWeight},
		DOG_SAFE_DATE = TO_DATE(#{dogSafeDate}, 'YYYY-MM-DD'),
		DOG_DETAIL =
		#{dogDetail}, ARCHIVE_MODIFY_DATE = SYSDATE
		WHERE DOG_NUMBER =
		#{dogNumber}
	</update>

	<delete id="delete" parameterType="ArchiveDeleteDTO">
		DELETE FROM DDD_ARCHIVE
		WHERE
		DOG_NUMBER = #{dogNumber}
		AND (USER_NUMBER = #{userNumber} OR
		#{adminNumber} IS NOT NULL)
	</delete>

</mapper>